# Api сайта конвертации валют
# https://apilayer.com/marketplace/exchangerates_data-api?utm_source=apilayermarketplace&utm_medium=featured
API_KEY_currency=abc123def456

# Api сайта стоимости акций https://www.alphavantage.co/support/#api-key
API_KEY_STOCKS

PASSWORD=secretaryship
GITHUB_TOKEN=your_personal_access_token_here

